* {
    font-family: Montserrat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


html {
    scroll-behavior: smooth;
}


.top-bar {
    width: 100%;
    margin: auto;
    background-color: #9e9e9e;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    line-height: 1.8;
    border-width: 0px;
    border-style: solid;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.top-bar-right {
    text-decoration: none;
    border-right: 1px solid rgba(0,0,0,0.06);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    line-height: 1.8;
    border-width: 0px;
    border-style: solid;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.top-bar-right:hover {
    text-decoration: none;
    border-right: 1px solid rgba(0,0,0,0.06);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5b5b5b;
    line-height: 1.8;
    border-width: 0px;
    border-style: solid;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.top-bar > .justify-content-start {
    margin: auto;
}


.top-bar > .justify-content-end {
    margin: auto;
}

.store {
    font-weight: 600;
    text-align: center;
    padding: 10px;
    color: white;
}


.contact {
    font-weight: 600;
    text-align: center;
    padding: 10px;
}


.button-default {
    font-weight: 600;
    background: #ccad39;
    padding: 10px 25px 10px 25px;
}

.button-default:hover {
    font-weight: 600;
    background: white;
    color: #ccad39;
    text-align: center;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.fa {
    font-size: 18px;
    width: 50px;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    border: none;
  }

  
  /* Add a hover effect if you want */
  .fa:hover {
    font-size: 18px;
    width: 50px;
    opacity: 0.9;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
  }
  
/* Facebook */
    .fa-facebook {
    color: white;
}

/* Instagram */
.fa-instagram {
    color: white;
}

/* YouTube */
.fa-youtube-play {
    color: white;
}

/* Social Media tooltip on hover */
.tooltip > .tooltip-arrow {
    border-bottom: 1px solid;
}


.tooltip .tooltip-inner { 
    background-color: #23282d;
    font-size: 12px;
    opacity: .9;
}



.logo {
    margin: 20px auto;
    background: white;
    max-height: 105px;
    height: auto;
}


.top_bar {
    margin: 0 auto;
    background-color: #9e9e9e;
    line-height: 1.36;
}

/* ################## NAVGIGATION BAR ################## */

.nav-menu-item:hover {
    border-top: 2px solid #ccad39;
}


.nav-uppercase {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: normal;
    text-transform: uppercase;
}


.navbar-light {
    color: #5b5b5b;
    font-weight: 700;
    letter-spacing: 1px;
}


.navbar a {
    color: #545454;
    display: block;
    margin: 0px 50px -4px 0px;
    border-top: 2px solid transparent;
}


.dropdown-menu {
    margin: 0px auto 0px 0px;
    border-radius: 0;
    border-top: transparent;
    border-top: 2px solid #ccad39;
    border-left: 1px solid #e2e2e2;
}


.dropdown-menu:hover {
    border-radius: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
}


.title {
    width: 100px;
    font-family: Montserrat;
    color: #5b5b5b;
    padding: 10px 10px 10px 0px;
    margin-left: -10px;
}


.title-megamenu {
    font-family: Montserrat;
    color: #5b5b5b;
    padding: 20px 0px 20px 0px;
    letter-spacing: 0px;
    font-style: normal;
}


.no-right-border {
    border-right: none;
}


.col-megamenu {
    margin-top: -10px;
    margin-bottom: -18px;
    border-right: 1px solid #e2e2e2;
    padding-bottom: 35px;
    padding-left: 15px;
}


.devo_mega_img {
    background-image: url('https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/07/Daily-Devotions-Online-Slide-R2-1.jpg');
    width: 331px;
    height:186px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}



.megamenu_search_bar {
    height: 75px;
    padding-top: 10px;
    margin: 20px 0px 0px -30px;
    border-top: 2px solid #e2e2e2;
}


.megamenu_media_search {
    color: #5b5b5b;
    width: 100%; 
    font-size: 18px; 
    line-height: 1.36;
    font-style: normal;
    padding-top: 10px;
    padding-left: 10px;
    letter-spacing: 0px;
    font-weight: 500;
}


.fa {
    opacity: .7;
    padding-top: 3px;
    padding-left: 25px;
}


.submenu-list {
    color: #545454;
    list-style-type: none;
    position: relative;
    padding: 0px 0px 5px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
}


.submenu-list:hover {
    color: #545454;
    list-style-type: none;
    position: relative;
    padding: 0px 0px 5px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
}


.submenu-list:before {
    content: "\25BA \0020";
    font-size: 9px;
    position: absolute;
    top: 4px;
    left: -1px;
}


.media-item-container {
    margin-top: 0px;
}


.header_shadow {
    background: white;
    box-shadow: 0 20px 50px -2px rgba(0,0,0,.14);
}


/* ################## Media Search Page ##################  */

.media_search {
    width: 30%;
    height: 90px; 
    padding: 10px;
    margin: 40px auto 0px auto;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}


.has-search .form-control-feedback {
    width: 50px;
    font-size: 16px;
    padding: 7px 0px 0px 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}


.form_input {
    font-size: 16px;
    font-weight: 500;
    color: #9ea0a4;
    height: 50px;
    padding-left: 40px;
}


.search_term {
    margin: 40px auto 40px auto;
}


.search_result {
    margin: 40px auto 50px auto;
}


.search_title_desc {
    padding-left: 20px;
}


.divider-search {
    width: 65%;
    border-color:#e2e2e2;
    border-top-width:2px;
    margin-left: auto;
    margin-right: auto;
}

.search_category {  
    width: 100%;
    font-size: 13px;
    color: #212934;
    margin-left: 10px;
}

.search_view_more {
    width: 100%;
    font-size: 13px;
    color: #212934;
    margin-right: 10px;
}

.search_divider_top {
    margin-bottom: -15px;
}

.search_divider_bottom {
    margin-top: -15px;
}

/* ################## MEDIA BANNERS ################## */

.banner {
    width: 100%;
    margin: auto;
    height: 500px;
    background-attachment:fixed;
    background-color:rgba(255,255,255,0);
    background-position: center;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;  
}


.media-banner {
    height:750px;
    margin: 0px auto 0px auto;
    background-image: url('https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/07/Media-Page-Header-B-copy-scaled.jpg');
    background-position: bottom;
    opacity: 1;

}


.audio-banner {
    background-image: url('https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Audio-Sermons-Online-WebPageBanner-R3.jpg');
}


.devo-banner {
    background-image: url('https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Daily-Devotions-Online-WebPageBanner-R3.jpg');
}


.prayer-banner {
    background-image: url('https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Tuesday-Prayer-Online-WebPageBanner-R3.jpg');
}


.sunday-banner {
    background-image: url('https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Sunday-Worship-Online-WebPageBanner-R3.jpg');
}

.media-title {
    margin: 0px auto 0px auto;
    width: 100%;
    height: 110px;
    background-image: url("https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Media-Center-Header.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.media-title:hover {
    background-image: url("https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/07/Media-Center-Header.png");
    transition-delay: .2s;
}


.media-buttons {
    margin: 0px auto;
    background: transparent;
} 


.btn-outline-secondary {
    border-radius: 2px;
    width: 187px;
    height: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #777777;
    cursor: pointer;
    border: 2px solid white;
    transition: all .2s;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16px;
    background: rgba(255,255,255,0.35);
    margin: 25px;
}


.btn-outline-secondary:hover {
    border-radius: 2px;
    width: 187px;
    height: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #777777;
    cursor: pointer;
    border: 2px solid white;
    transition: all .2s;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16px;
    background: #ffffff;
}


.truncate_desc {
    width: 100%;
    padding:20px 0px 20px 0px; 
    white-space: nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis; 
}


/* ################## Zoom Effects ################## */

.zoom-container {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
  }


.zoom-container-no-border {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


.zoom_index_list {
    width: 220px;
    height: 85px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }


.zoom_index_current_container {
    width: 720px;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}



.zoom {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    -o-transition: 2s ease-out;
    -ms-transition: 2s ease-out;
    transition: 2s ease-out;
}


.zoom:hover {
    transition: transform 1s, filter 1.5s ease-in-out;
    transform-origin: center center;
    transform: scale(1.2); 
}


a {
    color: #5b5b5b;
    text-decoration: none;
}


a:hover {
    color: #5b5b5b;
    text-decoration: none;
}

h2 {
    color: #212934;
}

h2:hover {
    color: #e2e2e2;
    text-decoration: none;
}


h3:hover {
    color: #e2e2e2;
    text-decoration: none;
}



/* ################## Individual Media pages ##################  */

.main_player {
    height: 486px;
    margin: 50px auto 20px auto;
}


.main_player_title_desc {
    margin: 20px auto 40px auto;   
}

.main_video_media_page {
    width: 992px; 
    height: 558px; 
    margin-top:100px;
    margin-bottom: 120px;
}


.main_video_search_page {
    width: 992px; 
    height: 558px; 
    margin-top:30px;
    margin-bottom: 30px;
}

.title_desc {
    margin: auto;
    text-align: left;
}


.tile_sizing_media {
    width:320px;
    height: 180px;
}


.tile_container {
    width: 84%;
    margin: 10px auto 10px auto;
}

.tile_title {
    width: 320px;
    margin: 10px auto 30px auto;
}



/* ################## Main Media Page ##################  */


#devo_section {
    margin-top: 50px; 
    margin-bottom: 50px;
}

.devo_header {
    margin: 50px auto 50px auto;
    width: 100%;
    height: 85px;
    background-image: url("https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Daily-Devotions-Header.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.single_devo {
    margin: 0px 20px 0px 0px;
    text-decoration: none;
}

.multiple_devo {
    margin: 0px 0px 0px 20px;
    text-decoration: none;
}



#prayer_section {
    margin-top: 50px; 
    margin-bottom: 50px;
}

.prayer_header {
    margin: 0px auto 50px auto;
    width: 100%;
    height: 85px;
    background-image: url("https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Tuesday-Prayer-Header.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.single_prayer {
    margin: 0px 0px 0px 20px;
    text-decoration: none;
}


.multiple_prayer {
    margin: 0px 20px 0px 0px;
    text-decoration: none;
}


#sunday_section {
    margin-top: 0px; 
    margin-bottom: 50px;
}

.sunday_header {
    margin: 0px auto 50px auto;
    width: 100%;
    height: 85px;
    background-image: url("https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Sunday-Services-Header.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.single_sunday {
    margin: 0px 20px 0px 0px;
    text-decoration: none;
}


.multiple_sunday {
    margin: 0px 0px 0px 20px;
    text-decoration: none;
}


.load_more {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 161px;
    border-color: #777777;
    border-width: 2px;
    border-radius: 2px;
    background-color: white; 
    color: #4a4e57; 
    box-shadow: none !important; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    font-size: 14px;
    font-weight: 400;
}


.load_more:hover {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 161px;
    border-color: white;
    border-width: 2px;
    border-radius: 2px;
    background-color: #777777;
    color: white; 
    box-shadow: none !important; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    font-size: 14px;
    font-weight: 400;
}


.divider {
    width: 80%;
    border-color:#e2e2e2;
    border-top-width:2px;
    margin: auto;
}


/* ################## Footer ##################  */

footer {
    flex-wrap: wrap;
    background-color: #5e5e5e;
    width: 100%;
    height: 136px;
}

.footer-contact {
    display:block;
    float: left;
    padding: 25px 0px 0px 250px;
}

.footer-social {
    display: block;
    float: right;
    padding: 50px 300px 0px 0px;
}




/* ################## Media Queries ##################  */


@media (min-width: 1200px) {
.navbar-expand-xl .navbar-nav .nav-link {
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 78px;
    }
}

@media (max-width: 1200px) {
.navbar-toggler {margin-bottom: 10px;}
}

@media all and (min-width: 992px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:600px; right:0; width:100%; padding:0px;}
    .media_search {width: 400px; height: 90px; padding: 10px; margin: 40px auto 0px auto; }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #ccad39; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu { margin: 0px auto auto 10px;  padding: 10px 0px 20px 30px;}

}

@media all and (max-width: 768px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:150px; right:0; width:100%; padding:10px; }
    .media_search {width: 400px; height: 90px; padding: 10px; margin: 40px auto 0px auto; }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #5b5b5b;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu { margin: 0px auto auto 0px;  padding: 10px 0px 20px 30px;}
    .navbar-light .navbar-toggler { color: rgba(0,0,0,.5); border-color: rgba(0,0,0,.1); margin-bottom: 10px; }
            
    .nav-menu-item:hover {
        width: 100%;
        border: none;
    }

    .single {
        width: 480px;
    }

    .main_player {
        width: 480px;
        height: 270px;
        margin: 10px auto 10px auto;
    }
    
    .main_player_title_desc {
        width: 480px;
        margin: 10px auto 10px auto;   
    }
    
} 

@media all and (max-width: 576px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{ position:static!important;}
    .navbar .megamenu{ left:150px; right:0; width:100px; padding:10px; }
    .media_search {width: 350px; height: 90px; padding: 10px; margin: 40px auto 0px auto; }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #5b5b5b;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu { margin: 0px auto auto 0px;  padding: 10px 0px 20px 30px;}
    
    .nav-menu-item:hover {
        width: 100%;
        border: none;
    }
    
    .navbar-toggler {
        padding: 10px 20px;
        margin: 8px;
    }

    .footer-contact {
        display: block;
        float: left;
        padding: 25px 0px 0px 50px;
    }

    .media-banner {
        width: 100%;
        margin: auto;
        height: 400px;
        background-image: url(https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/07/Media-Page-Header-B-copy-scaled.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .media-title {
        margin: auto;
        width: 600px;
        height: 80px;
        background-image: url(https://thebrooklyntab.wpengine.com/wp-content/uploads/2020/08/Media-Center-Header.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .button-default {
        font-weight: 600;
        background: #ccad39;
        padding: 20px;
    }

    .main_player {
        width: 320px;
        height: 180px;
        margin: 10px auto 10px auto;
    }
    
    .main_player_title_desc {
        width: 320px;
        margin: 10px auto 10px auto;   
    }


    .single {
        width: 320px;
    }

    .main_player {
        width: 480px;
        height: 270px;
        margin: 10px auto 10px auto;
    }
    
    .main_player_title_desc {
        width: 480px;
        margin: 10px auto 10px auto;   
    }
    
}